@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#divAds .ad1 {
  width: 255px;
  height: 255px;
}

#divAds .ad2 {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

#divAds .ad4 {
  width: 400px;
  height: 400px;
  background-color: green;
}


#modalRejection {
  text-align:center;
}

#modalRejection .modal-header {
    margin-top:10px;
}

#modalRejection .modal-body div {
}

#modalRejection .modal-body .btn {
  margin-top:10px;
}

.filters {
  text-align: center;
}

/*
.badge-important {
  height: 60px;
  width: 60px;
  line-height: 55px;
  font-size: 31px;
}
*/

.advertiser {
    border:1px solid transparent;
    margin-bottom:10px;
    border-radius:3px;
    border-color:#ddd;
}

.advertiser:hover {
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}

.advertiser h4 {
    font-weight:normal;
    font-size:24px
}

.advertiser-actions {
    vertical-align:middle;
    text-align:right;
}

.advertiser-actions a {
    padding:21px;
    margin:0;
    margin-top:4px;
    font-family: 'icomoon';
    font-size: 24px;

    transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}

.advertiser-actions a.approve:hover {
    color:#ddffeb;
    background-color:#2ecc71;
}

.advertiser-actions a.disapprove:hover {
    color:#ffa3a3;
    background-color:#E74C3C;
}

.advertiser-actions a:last-child {
    margin-right:4px;
}

#divAds .box {
  position:relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  float:left;
}

#divAds .box:hover .adHover {
  display:inline;
}

.adHover {
  display:none;
  position:absolute;
  top: 10px;
  width: 255px;
}

.adHover .add {
  background-color:#3eca50;
  opacity: 0.9;
  width: 50%;
  height: 255px;
}

.adHover .remove {
  background-color:#e41c30;
  opacity: 0.9;
  width: 50%;
  height: 255px;
}

.modal-filter {
  text-align: center;
  width: 100%;
  background-color: #ff0039;
  height: 30px;
  color:white;
}

.brand {
  padding: 0 !important;
}

.brand img {
  height: 50px;
}

.leftMenu ul {
  list-style-type: none;
}

.leftMenu .heading {
  background-color:#0f82f5;
  height: 25px;
  padding-top: 5px;
  color:white;
  font-weight: bolder;
  padding-left:5px;
}