@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


#divAds .ad1 {
  width: 255px;
  height: 255px;
}

#divAds .ad2 {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

#divAds .ad4 {
  width: 400px;
  height: 400px;
  background-color: green;
}


#modalRejection {
  text-align:center;
}

#modalRejection .modal-header {
    margin-top:10px;
}

#modalRejection .modal-body div {
}

#modalRejection .modal-body .btn {
  margin-top:10px;
}

.filters {
  text-align: center;
}

/*
.badge-important {
  height: 60px;
  width: 60px;
  line-height: 55px;
  font-size: 31px;
}
*/

.advertiser {
    border:1px solid transparent;
    margin-bottom:10px;
    border-radius:3px;
    border-color:#ddd;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}

.advertiser-row {
    display:table-row;
    width:570px;
}

.advertiser-profile, .advertiser-content, .advertiser-action {
    display:table-cell;
    vertical-align:middle;
}

.advertiser-profile {
    width:75px;
    padding:10px;
}

.advertiser-content {
    width:259px;
    overflow:hidden;
    padding:10px;
}

.advertiser-action {
    width:66px;
}

.advertiser-action {
    padding:21px;
    font-family: 'icomoon';
    font-size: 24px;
    line-height:100%;
    height:100%;
    vertical-align:middle;
    transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}

.advertiser-action.approve:hover {
    color:#ddffeb;
    background-color:#2ecc71;
}

.advertiser-action.disapprove:hover {
    color:#ffa3a3;
    background-color:#E74C3C;
}

.advertiser h4 {
    font-weight:normal;
    font-size:24px;
}

.badge-klout {
    position:absolute;
    background:transparent;
    background-image:url(klout-24x24.png);
    height:30px;
    width:30px;
    padding:0;
    line-height:24px;
    text-align:center;
    vertical-align:middle;
    margin-left:10px;
}

#divAds .box {
  position:relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  float:left;
}

#divAds .box:hover .adHover {
  display:inline;
}

.adHover {
  display:none;
  position:absolute;
  top: 10px;
  width: 255px;
}

.adHover .add {
  background-color:#3eca50;
  opacity: 0.9;
  width: 50%;
  height: 255px;
}

.adHover .remove {
  background-color:#e41c30;
  opacity: 0.9;
  width: 50%;
  height: 255px;
}

.modal-filter {
  text-align: center;
  width: 100%;
  background-color: #DFDFDF;
  color:#999;
  position:fixed;
  bottom:0;
  left:0;
  opacity:0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  padding:24px 0;
}

.modal-filter.visible {
  opacity:1;
}

.modal-filter p {
    font-size:24px;
    line-height:36px;
    padding:0 250px;
}

.brand {
  padding: 0 !important;
}

.brand img {
  height: 50px;
}

.leftMenu ul {
  list-style-type: none;
}

.leftMenu .heading {
  background-color:#0f82f5;
  height: 25px;
  padding-top: 5px;
  color:white;
  font-weight: bolder;
  padding-left:5px;
}


.leftMenu a {
    line-height:30px;
    margin-left:10px;
}

.newAdvertisers {
  display: block;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
