/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900,800,600,500,300,100,200);*/

html,body,.btn {
    font-family:Raleway;
}

.advertisers li {
    border:1px solid black;
}

.advertisers li .profile {
    height:75px;
    width:75px;
    float:left;
}

#divAds .ad1 {
	width: 130;
	height: 100;
}

#divAds .ad2 {
	width: 200px;
	height: 200px;
	background-color: yellow;
}

#divAds .ad4 {
	width: 400px;
	height: 400px;
	background-color: green;
}


#modalRejection {
	text-align:center;
}

#modalRejection .modal-header {
    margin-top:10px;
}

#modalRejection .modal-body div {
}

#modalRejection .modal-body .btn {
	margin-top:10px;
}

.filters {
	text-align: center;
}

.badge-important {
	height: 60px;
	width: 60px;
	line-height: 55px;
	font-size: 31px;
}

#divAds .box {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	float:left;
}